*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#ffeef5;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:30px;
}

.cv{
    width:950px;
    background:white;
    border-radius:25px;
    overflow:hidden;
    display:grid;
    grid-template-columns:300px 1fr;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.left{
    background:linear-gradient(to bottom,#ff4f93,#ff89b5);
    color:white;
    padding:40px 30px;
}

.left h1{
    text-align:center;
    font-size:42px;
}

.job{
    text-align:center;
    margin-top:10px;
    margin-bottom:40px;
    font-size:18px;
}

.section{
    margin-bottom:35px;
}

.section h2{
    margin-bottom:15px;
    font-size:28px;
}

.section p,
.section li{
    line-height:2;
    font-size:17px;
}

.section ul{
    padding-left:20px;
}

.right{
    padding:45px;
}

.box{
    margin-bottom:40px;
}

.box h2{
    color:#ff4f93;
    margin-bottom:18px;
    font-size:32px;
}

.box p{
    color:#555;
    line-height:2;
    font-size:17px;
}

.card{
    background:#fff3f8;
    padding:20px;
    border-radius:15px;
}

.card h3{
    color:#ff4f93;
    margin-bottom:10px;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skill{
    background:#ffe0ec;
    color:#d63384;
    padding:12px 22px;
    border-radius:25px;
    font-weight:bold;
    transition:0.3s;
}

.skill:hover{
    transform:scale(1.08);
}